/* styles.css */

body {
    font-family: Arial, sans-serif;
 
}

header {
    background:blue;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cart-items {
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    width: 500px;
    border-radius: 10px;
    color: #000;

}

.item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.item-details {
    flex-grow: 1;
}

.cart-summary {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    width: 500px;
    border-radius: 10px;
    color: #000;
}

button {
    background: #00385b;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #002034;
}
